{% extends 'tickets/base.html' %}

{% block content %}
{% load static %}
<table class="table">
    <thead>
    <tr>
        <th>Номер заявки</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Статус</th>
        <th>Время создания</th>
        <th>Ответ поддержки</th>
        <th>Обратная связь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.message }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.created_at }}</td>
        <td>{{ ticket.answer }}</td>
        <td>{{ feedback.feedback }}</td>
    </tr>

    </tbody>
</table>



{% endblock %}