{% extends 'tickets/base.html' %}

{% block content %}
{% load static %}
<table>
    <thead>
    <tr>
        <th>Номер заявки</th>
        <th>Автор</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Статус</th>
        <th>Время создания</th>
        <th>Удаление</th>
        <th>Редактирование</th>


    </thead>
    <tbody>


    {% for ticket in tickets %}
        <tr>
            <td><a href="/tickets/answer/{{ ticket.id }}">{{ ticket.id }}</a></td>
            <td>{{ ticket.author }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.message }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.created_at }}</td>
            <td><a href="/tickets/delete/{{ ticket.id }}" class="default">Удаление</a></td>
            <td><a href="/tickets/update/{{ ticket.id }}" class="default">Редактирование</a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>

    <table>
    <thead>
    <tr>

        <th>Заявка</th>
        <th>Ответ</th>

    </thead>
    <tbody>



    {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>

            <td>{{ ticket.answer }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}