{% extends "tickets/base.html" %}

{% block content %}

<h2>Обновление заявки</h2>

<form class="form" method="post">
  {% csrf_token %}
  <div>
    <label for="description">Тема:</label>
    <input type="text" name="description" id="description">
  </div>
  <div>
    <label for="message">Описание:</label>
    <textarea name="message" id="message" rows="5" cols="45"></textarea>
  </div>
  <div>
    <button class="custom-btn btn-1" type="submit">Обновить заявку</button>
  </div>
</form>

{% endblock %}
