{% extends 'tickets/base.html' %}

{% block content %}
{% load static %}


    <div class="auth">
    <div class="card">
        <div class="auth__header">
            <h3>Зарегистрироваться</h3>
        </div>

        <form method="POST" class="form auth__form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{ field.label }}</label>
                {{ field }}

                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}

            </div>

            {% endfor %}

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Сохранить" />
            </div>
        </form>
        <div class="auth__alternative">
            <p>Уже есть аккаунт?</p>
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
</div>



{% endblock %}
